/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    margin: 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

body {
    min-width: 375px;
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.favorite {}

form {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.color {
    margin: 20px;
    list-style: none;
    width: 100px;
    display: flex;
    gap: 10px;
}

.circle {
    height: 36px;
    width: 36px;
    border: 3px solid;
    border-radius: 100%;
    text-align: center;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    min-width: 375px;
}

header {
    padding: 18px 64px;
    box-shadow: 0 1px 3px 0 rgba(11, 12, 13, 0.16), 0 0 1px 0 rgba(11, 12, 13, 0.24);
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}


main {
    width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 24px;
    padding: 18px 64px;

    background-color: #fafafc;
}

.input-notes {
    max-width: 1152px;
    padding: 24px;

    border-radius: 4px;
    box-shadow: 0 8px 12px 0 rgba(11, 12, 13, 0.08), 0 16px 24px 0 rgba(11, 12, 13, 0.04), 0 1px 2px 0 rgba(11, 12, 13, 0.08);
    background-color: #fff;
}

.input-notes .form,
.text-wrap {
    display: flex;
    gap: 24px;
}

.text-wrap {
    flex-direction: column;
}

.input-text-wrap,
.input-title-wrap,
.colors {
    display: flex;
    flex-direction: column;

    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    color: #919191;
}

.input-title,
.input-text {
    padding: 6px 12px;
    border: 1px solid #e8e8e8;
    border-radius: 10px;

    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: #000;
}

::placeholder {
    color: #919191;
}

.input-text {
    width: 848px;
    height: 84px;
    resize: none;
}

.input-title {
    max-width: 344px;
    height: 36px;
}

.color-submit-wrap {
    align-self: end;
    width: 232px;
}

.colors {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.colors-list {
    display: flex;
    width: 100%;
    gap: 8px;
    list-style: none;
}

.colors-list>li {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}



.add-button {
    display: flex;
    align-items: center;
    gap: 7px;/*8px*/

    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 6px 24px;
    background-color: #457cdc;

    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #fff;
    line-height: 1.5;
    font-size: 16px;

    cursor: pointer;
}


.circle {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    cursor: pointer;
}

.circle:hover {
    transform: scale(1.2);
}

.select-color {
    border: 1.50px solid #457cdc;
}

.yellow {
    background-color: #f3db7d;
}

.green {
    background-color: #c2f37d
}

.blue {
    background-color: #7de1f3
}

.red {
    background-color: #f37d7d
}

.pink {
    background-color: #e77df3
}


/* section NOTES */
.notes {
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 12px; */
    /* width: 1152px; */
    height: 100vh;
    /* justify-self: center; */

}

.checkbox {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 4px;
    margin-bottom: 12px;
}

.checkbox-label {
    padding-left: 8px;
}

.checkbox-input {
    appearance: none;
    position: relative;
    width: 24px;
    height: 24px;
    background-image: url("/assets/images/checkbox\ inactive.svg");
    background-repeat: no-repeat;
}

.checkbox-input::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    background-image: url("/assets/images/checkbox\ active.svg");
    background-repeat: no-repeat;
    /* transition: 300ms; */
}

.checkbox-input:checked::after {
    width: 24px;
    height: 24px;
    transition: 100ms;
}


.list {
    gap: 24px;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    position: absolute;
}

.empty-list {
    align-self: center;
    text-align: center;
}

.note {
    border-radius: 10px;
    width: 368px;
    box-shadow: 0 4px 8px 0 rgba(11, 12, 13, 0.08), 0 8px 16px 0 rgba(11, 12, 13, 0.04), 0 1px 2px 0 rgba(11, 12, 13, 0.08);
    overflow: hidden;
    height: fit-content;
}


.note-title {}

.note-text {
    padding: 12px;
    /* min-width: 50px;
    max-width: 100%;
    resize: vertical;
    overflow: hidden;
    resize: vertical; */
    /* white-space: pre-wrap; in HTML(JS) for div .note-text contenteditable="true"*/
}


.note-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
    /* background-color: #f3db7d; */
}


.favorite {
    background-color: #f3db7d;
}

.favorite-check {
    appearance: none;
    position: relative;
    width: 16px;
    height: 16px;
    background-image: url("/assets/images/heart\ inactive.svg");
    background-repeat: no-repeat;
}

.favorite-check::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    background-image: url("/assets/images/heart\ active.svg");
    background-repeat: no-repeat;
    /* transition: 300ms; */
}

.favorite-check:checked::after {
    width: 16px;
    height: 16px;
    transition: 100ms;
}

.delete-button {
    width: 16px;
    height: 16px;
    background-image: url(./assets/images/trash.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    background-color: transparent;
}

.hidden {
    display: none;
}

.message-box {
    position: fixed;
    bottom: 72px;
    /* Отступ от нижнего края окна */
    right: 64px;
    z-index: 1;

    align-items: center;
    justify-self: center;

    background-color: red;
    border-radius: 10px;
    padding: 12px 24px;
    width: 232px;
}