@font-face {
    font-family: "Montserrat";
    src: url(./assets/fonts/Montserrat/static/Montserrat-Regular.woff) format("woff"),
    url(./assets/fonts/Montserrat/static/Montserrat-Regular.eot) format("eot"),
    url(./assets/fonts/Montserrat/static/Montserrat-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url(./assets/fonts/Montserrat/static/Montserrat-Medium.woff) format("woff"),
    url(./assets/fonts/Montserrat/static/Montserrat-Medium.eot) format("eot"),
    url(./assets/fonts/Montserrat/static/Montserrat-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url(./assets/fonts/Montserrat/static/Montserrat-Bold.woff)  format("woff"),
    url(./assets/fonts/Montserrat/static/Montserrat-Bold.eot)  format("eot"),
    url(./assets/fonts/Montserrat/static/Montserrat-Bold.ttf)  format("truetype");
    font-weight: 700;
    font-style: normal;
}



*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    /* font-display:; */
    font-family: "Montserrat", sans-serif;
    min-width: 375px;
}

header {
    height: 60px;
    padding: 18px 64px;
    box-shadow: 0 1px 3px 0 rgba(11, 12, 13, 0.16), 0 0 1px 0 rgba(11, 12, 13, 0.24);
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: right;
    color: #000;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #457cdc;
    text-decoration: underline;
}

.logo img {
    /* width: 24px; */
    height: 24px;
}

.counter {
    display: flex;
    gap: 12px;
}

.counter img {
    width: 24px;
    height: 24px;
}

.count {
    font-weight: 700;
}

main {
    min-height: calc(100vh - 60px);

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 24px;
    padding: 18px 64px;

    background-color: #fafafc;

    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    color: #000;
}

/* section INPUT-NOTES */

.input-notes {
    width: 100%;
    max-width: 1152px;
    padding: 24px;

    border-radius: 4px;
    box-shadow: 0 8px 12px 0 rgba(11, 12, 13, 0.08), 0 16px 24px 0 rgba(11, 12, 13, 0.04), 0 1px 2px 0 rgba(11, 12, 13, 0.08);
    background-color: #fff;
}

.form,
.text-wrap {
    display: flex;
    gap: 24px;
}

.text-wrap {
    flex-direction: column;
    flex-grow: 2;
}

.input-text-wrap,
.input-title-wrap,
.colors {
    display: flex;
    flex-direction: column;

    font-size: 12px;
    line-height: 2;
    color: #919191;
}

.input-title,
.input-text {
    padding: 6px 12px;
    border: 1px solid #e8e8e8;
    border-radius: 10px;

    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: #000;

    resize: none;
}

::placeholder {
    color: #919191;
}

.input-text {
    height: 84px;
}

.input-title {
    max-width: 345px;
    height: 36px;
    overflow: hidden;
}

.color-submit-wrap {
    align-self: end;
}


.colors-list {
    display: flex;
    align-items: center;
    gap: 8px;
    list-style: none;
    margin-bottom: 12px;
}

.colors-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 100%;

    cursor: pointer;
    /* outline: 1px solid red; */
}

.circle {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    /* outline: 1px dashed blue; */
}

.circle:hover {
    transform: scale(1.2);
}

.select-color {
    border: 1.0px solid #457cdc;
}

.yellow {
    background-color: #f3db7d;
}

.green {
    background-color: #c2f37d
}

.blue {
    background-color: #7de1f3
}

.red {
    background-color: #f37d7d
}

.pink {
    background-color: #e77df3
}

.add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 6px 24px;
    background-color: #457cdc;

    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #fff;
    line-height: 1.5;
    font-size: 16px;

    cursor: pointer;
}

/* CIRCLES-COLORS*/




/* section NOTES */
.notes {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1152px;
    position: relative;
    gap: 12px;
}

.checkbox {
    display: flex;
    justify-content: end;
    gap: 8px;
    align-items: center;
    /* margin-bottom: 12px; */
    font-size: 12px;
}

.checkbox-input,
.checkbox-label {
    cursor: pointer;
}

.checkbox-input {
    appearance: none;
    position: relative;
    width: 16px;
    height: 16px;
    background-image: url("../assets/images/checkbox\ inactive.svg");
    background-size: contain;
    /*чтобы картинка маштабировалась корректно*/
    background-repeat: no-repeat;
}


.checkbox-input::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    background-image: url("../assets/images/checkbox\ active.svg");
    background-size: contain;
    background-repeat: no-repeat;
    /* transition: 300ms; */
}

.checkbox-input:checked::after {
    width: 16px;
    height: 16px;
    transition: 100ms;
}


.list {
    gap: 24px;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.empty-list {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.note {
    height: max-content;
    border-radius: 10px;
    width: 368px;
    box-shadow: 0 4px 8px 0 rgba(11, 12, 13, 0.08), 0 8px 16px 0 rgba(11, 12, 13, 0.04), 0 1px 2px 0 rgba(11, 12, 13, 0.08);
    overflow: hidden;
    /*верхний край скругляется*/
    height: fit-content;
    /*изменяется длина только одной заметки*/
}


.note-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #292515;
    /* background-color: #f3db7d; */
}

.note-title {
    word-break: break-all;
}

.buttons {
    display: flex;
    gap: 12px;

}

.favorite-check {
    appearance: none;
    position: relative;
    width: 16px;
    height: 16px;
    background-image: url("../assets/images/heart\ inactive.svg");
    background-size: contain;
    background-repeat: no-repeat;

    cursor: pointer;
}

.favorite-check::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    background-image: url("../assets/images/heart\ active.svg");
    background-size: contain;
    background-repeat: no-repeat;
    /* transition: 300ms; */
}

.favorite-check:checked::after {
    width: 16px;
    height: 16px;
    transition: 100ms;
}

.delete-button {
    width: 16px;
    height: 16px;
    background-image: url(../assets/images/trash.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    background-color: transparent;

    cursor: pointer;
}

.note-text {
    padding: 12px;
    line-height: 1.7;
    color: #000;

    /* изменение высоты заметки */
    /* min-width: 50px;
    max-width: 100%;
    resize: vertical;
    overflow: hidden;
    resize: vertical; */
    /* white-space: pre-wrap; in HTML(JS) for div .note-text contenteditable="true"*/
}

.hidden {
    display: none;
}

.message-box {
    display: flex;
    max-height: 80%;
    flex-direction: column;
    gap: 10px;
    align-self: flex-end;
    position: sticky;
    bottom: 72px;
    z-index: 1;
}

.message {
    display: flex;
    gap: 10px;
    background-color: #47b27d;

    border-radius: 10px;
    padding: 12px 24px;
    box-shadow: 0 8px 12px 0 rgba(11, 12, 13, 0.08), 0 16px 24px 0 rgba(11, 12, 13, 0.04), 0 1px 2px 0 rgba(11, 12, 13, 0.08);

    font-weight: 500;
    line-height: 24px;
    color: rgb(255, 255, 255);
}



.message-warning {
    background-color: #f23d5b;
}


@media screen and (max-width: 576px) {
    header {
        padding: 12px;
    }

    main {
        padding: 12px;
        gap: 2px;
    }

    .input-notes,
    .notes {
        padding: 12px;
        gap: 4px;
    }

    .form,
    .text-wrap {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
        width: 100%;
    }

    .input-text-wrap,
    .input-title-wrap,
    .color-submit-wrap {
        width: 100%;
    }

    .input-title,
    .input-text {
        padding: 4px;
    }

    .list {
        width: 100%;
    }

    .colors {
        align-items: center;
    }

    .notes {
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {

    .colors-list {
        gap: 4px;
    }

    .note {
        width: 100%;
    }

    .colors {
        align-items: center;
    }
}